/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-meatshot.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 2em 1em 5em;
	background-color: rgb(76, 37, 37);
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background:rgb(76, 37, 37);
	padding: 1em 1em;
	}

div.container {
	position: relative;
	min-height: 100vh;
	color: rgb(241, 239, 239);
}
	
h1 {
	width: 45%;
	}

h2, h3, h4 {
	font-weight: bold;
	color: rgb(12, 12, 12);
	}

h2 {
	font-size: 2em;
	margin: 0em 0em 0em;
    font-family: "rooney-web", serif;
    font-weight: 700;
    font-style: normal;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0em 0.5em;
	font-family: "rooney-web", serif;
    font-weight: 700;
    font-style: normal;
}

h4{
	font-size: 1em;
	margin: 0em;
	font-family: "rooney-web", serif;
    font-weight: 700;
    font-style: normal;
}
body {
	font-family: sans-serif;
	background-color: rgb(76, 37, 37);
	}
a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
	margin: auto;
}

figure {
	margin-bottom: 2em;
}

main.menu ul {
		margin: 0em;
}	

main.menu ul li {
		margin: 1em 0em 1em;
		display: grid;
}	

p {
	margin: 1em 1em 1em 0em;
	font-family: "router", sans-serif;
    font-weight: 400;
    font-style: normal;
	color: rgb(12, 12, 12);
	}

article {
	background-color: rgb(145, 114, 95);
	margin: auto;
	width: 60%;
    border-radius: .6em; 
    padding: 0.5em;
}
	
p.description {
	grid-column: 1/2;
	margin: 0em;
	font-family: "router", sans-serif;
    font-weight: 400;
    font-style: italic;
	color:rgb(244, 243, 241);
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(12, 11, 11);
	text-align: right;
	margin:  1em 0em 0em;
    font-family: "router", sans-serif;
    font-weight: 500;
    font-style: normal;
	}
	
nav ul li {
	text-transform: uppercase;
	font-size: 1.4em;
	font-family: "router", sans-serif;
    font-weight: 800;
    font-style: normal;
	padding: 0.7em;
	}

nav ul li.selected a {
	color: rgb(244, 243, 241);
	background-color: rgb(158, 16, 8);
}
	
nav ul li a {
	color: rgb(6, 6, 0);
	background-color: rgb(100, 50, 33);
	padding: .5em .5em .5em;
    border-radius: .6em;
	}


p.slogan {
	font-size: 4.5em;
	font-family: "rooney-web", serif;
    font-weight: 400;
    font-style: italic;
	margin: .1em .25em 5em;
	color: rgb(244, 243, 241);
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  color: rgb(13, 13, 13);
}

address {
	color: rgb(244, 243, 241);
	font-family: "router", sans-serif;
    font-weight: 400;
    font-style: normal;
	margin: 0em 0em 2em;
	}

footer p {
	margin: 0em;
	background-color: rgb(255, 248, 248);
	font-size: 1em;
	padding: 1em 0em 1em 0.5em;
	font-family: sans-serif;
}

@media screen and (min-width: 60em) {
	div {
		max-width: 60em;
		margin: auto;
	}
	main.menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 5em;
	}
	nav ul li {
		display: inline;
	}
    nav {
        margin-top: 1.3em;
    }
}